---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Chenk'o Feria"
  bgColor="#84EBE3"
  bgImage="/public/chenko_feria_fondo.png"
>
  <div class="flex flex-col gap-24 items-center">
    <div class="relative w-72 h-20">
      <span class="z-10">CHEN'KO FERIA</span>
      <div
        class="border border-black z-0 w-full h-20 bg-rose-500 absolute left-[-0.5em] bottom-[0.5em]"
      >
      </div>
      <div
        class="border border-black z-0 w-full h-20 bg-rose-500 absolute left-[-1em] bottom-[1em]"
      >
      </div>
      <div
        class="border border-black z-0 w-full h-20 bg-rose-500 absolute flex flex-col justify-center items-center left-[-1.5em] bottom-[1.5em]"
      >
        <p class="text-yellow-300 text-xl font-bold text-end">X</p>
        <p class="text-white text-3xl font-bold">CHEN'KO FERIA</p>
      </div>
    </div>
    <div class="relative w-[720px] h-32">
      <span class="z-10">CHEN'KO FERIA</span>
      <div
        class="border border-black z-0 w-full h-full bg-yellow-400 absolute left-[-0.5em] bottom-[0.5em]"
      >
      </div>
      <div
        class="border border-black z-0 w-full h-full bg-yellow-400 absolute left-[-1em] bottom-[1em]"
      >
      </div>
      <div
        class="border p-2 text-center border-black z-0 w-full h-full bg-yellow-400 absolute flex flex-col justify-center items-center left-[-1.5em] bottom-[1.5em]"
      >
        <p class="text-white font-bold">
          Hacemos historia feminizando escenarios<br />Articula a artistas,
          diseñadores, productorxs, tiendas musicales y otros que generan
          economía creativa y tiene la finalidad de promocionar productos
          oriinales, fortaleciendo emprendimientos artísticos culturales.
        </p>
      </div>
    </div>
  </div>
</Layout>
