---
import Layout from "../layouts/Layout.astro";
import FondoCoopart from "../assets/fondos/FondoCoopart.astro";
---

<Layout title="CoopArt | Grito Rock | Grito Festival">
  <section>
    <FondoCoopart />
  </section>
</Layout>
