---
import Layout from "../layouts/Layout.astro";
import FondoCoopart from "../assets/fondos/FondoCoopart.astro";
---

<Layout title="CoopArt | Grito Rock | Grito Festival">
  <section>
    <FondoCoopart />
  </section>
</Layout>
---
import FondoCoopart from "../assets/fondos/FondoCoopart.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Coopart">
    <h1
    class="bg-local absolute text-5xl text-[#000000]"
  >
  Hacemos historia feminizando escenarios 
  Articula a artistas, diseñadores, productorxs, tiendas musicales y otros que generan economía creativa y tiene la finalidad de promocionar productos originales, fortaleciendo  emprendimientos artísticos culturales.
  
  </h1>
        <div class="w-full object-cover">
            <FondoCoopart/>
        </div>
        
   </Layout>
  