---
import LogoGrito from "../components/LogoGrito.astro";
import FondoGrito from "../assets/FondoGrito.astro";
import Layout from "../layouts/Layout.astro";
import SliderImages from "../components/SliderImages.astro";
import SliderImagesButton from "../components/SliderImagesButton.astro";
import SliderImagesContent from "../components/SliderImagesContent.astro";
import Paragraph from "../components/Paragraph.astro";
import FondoSliderInicio from "../assets/FondoSliderInicio.astro";
---

<Layout title="Grito Festival">

    <div class=" w-full absolute grid grid-cols-2">
      <div>
        <LogoGrito />
      </div>
      <div class="flex flex-col items-center pt-11">
        <h1 class="text-6xl font-extrabold text-white bg-[#DCE83B]">
          LA TENEMOS CLARA:
        </h1>
        <Paragraph>
          Grito Festival, en su version Grito Rock es una plataforma gestionado
          en red, producido de manera conjunta en diversas ciudades y países de
          Latinoamérica, Europa y África.
        </Paragraph>
        <Paragraph>          Por lo general se realiza en el período cercano a las fiestas del
          primer semestre, llegando y articulando a más de 400 ciudades en el
          mundo. Pionero en su lógica integrada, colaborativa y descentralizada,
          el festival tiene una trayectoria de expansión sin precedentes.
        </Paragraph>
        <Paragraph>          El Grito se caracteriza desde sus inicios por ser un festival
          conectado con su tiempo y los cambios del planeta, articulando
          campañas y acciones conjuntas a las transformaciones y nuevas
          expresiones activistas.
        </Paragraph>
      </div>



      
      <section class=" w-full py-16 h-full">
        <div class=" absolute w-full grid justify-items-center items-center">
          <div class="pt-80 absolute max-xl:w-5/6 w-3/4 grid grid-cols-1">
          <SliderImages>
            <SliderImagesContent urlImage="/src/assets/B1.png" slot="images"  urlImage="/src/assets/B1.png" slot="images" />
            <SliderImagesContent urlImage="/src/assets/B2.png" slot="images" />
            <SliderImagesContent urlImage="/src/assets/persona3.png" slot="images" />
            <SliderImagesContent urlImage="/src/assets/persona2.png" slot="images" />
            <SliderImagesButton slot="button" />
            <SliderImagesButton slot="button" />
            <SliderImagesButton slot="button" />
            <SliderImagesButton slot="button" />
            
          </SliderImages>
          
        </div>
        
          <div class="w-full object-cover">
            <div>
              <FondoSliderInicio/>  
          </div>  
      </section>

    </div>
    <div class="bg-[#c581e4] h-full  top-0">
      <FondoGrito />
    </div>
  
  </Layout
>
