---
import Layout from "../layouts/Layout.astro";
import HistoryDropdown from "../components/HistoryDropdown.astro";
---

<Layout bgColor="#A28BFF" title="Histório">
  <div class="flex flex-col items-center justify-center gap-7">
    <h1 class="text-6xl font-bold text-[#E3E3E3] text-sh pt-4">
      GRITO ROCK ES:
    </h1>
    <div class="flex flex-col w-full">
      <HistoryDropdown
        subtitle='NARRATIVA "LA TENEMOS CLARA":'
        paragraph1="Tenemos voces diversas, desde la diversidad nos construimos, somos colores, somos sabores, somo creatividad, somos música, somo rostros, somos arte, somos culturas, somos lo que queramos ser, somos a quienes elegimos amar, somos los que expresamos, somos lo que soñamos, somos lo que vivimos, somos lo que transgredimos, somos diversos."
        paragraph2="Por lo tanto, dentro del festival se desarrollan diferentes campañas sobre problemáticas que afectan a la ciudadanía, promoviendo una concientización sobre todo en lxs jóvenes, temáticas sociales como ser:"
      />
      <HistoryDropdown
        subtitle="GRITO CULTURA:"
        paragraph1="Fomenta y promueve la integración del movimiento artístico musical  cultural tanto local, nacional, latinoamericano e intercontinental, a través de la circulación culatural, formación, redes de colaboración e intercambios entre artistas, bandas, productores asistentes."
      />
      <HistoryDropdown subtitle="GRITO COLAB. Y COOPERATIVO:" />
      <HistoryDropdown subtitle="GRITO FORMACION:" />
      <HistoryDropdown subtitle="GRITO HOSPEDA:" />
      <HistoryDropdown subtitle="GRITO RED-REDES:" />
      <HistoryDropdown
        subtitle="3-2-1 GRITOOO<br>COBERTURA FOTOGRAFICA:"
        tamanio="1.5em"
      />
      <HistoryDropdown subtitle="GRITO FEM POWER:" />
      <HistoryDropdown subtitle="GRITO RED DE PRODUCTORES:" />
      <HistoryDropdown subtitle="DATA GRITO ROCK:" />
    </div>
  </div>
</Layout>
