---
import Corazon from "../icons/Corazon.astro";
import Sublogo from "../icons/Sublogo.astro";
import SliderImages from "../components/SliderImages.astro";
import SliderImagesButton from "../components/SliderImagesButton.astro";
import SliderImagesContent from "../components/SliderImagesContent.astro";
import SliderWrapperText from "../components/SliderWrapperText.astro";
import Layout from "../layouts/Layout.astro";
import SliderWrapperImages from "../components/SliderWrapperImages.astro";
---

<Layout title="Grito Festival Latinoamerica">
  <main>
    <div class="-mt-1">
      <img src={import.meta.env.BASE_URL+"/img/fondoInicio.webp"} alt="" />
    </div>
    <section class="h-2/6">
      <SliderImages>
        <SliderImagesContent
          urlImage={import.meta.env.BASE_URL+"/img/Recurso1.png"}
          slot="images"
        />
        <SliderImagesContent
          urlImage={import.meta.env.BASE_URL+"/img/Recurso2.png"}
          slot="images"
        />
        <SliderImagesContent
          urlImage={import.meta.env.BASE_URL+"/img/fondoInicio.webp"}
          slot="images"
        />
        <SliderImagesButton slot="button" />
        <SliderImagesButton slot="button" />
        <SliderImagesButton slot="button" />
      </SliderImages>
    </section>
    <section class="bg-gradient-to-b from-teal-50 to-skyblue-semi">
      <header class="bg-black">
        <h2 class="uppercase text-center text-8xl font-bold py-2">
          Auspiciadores
        </h2>
        <SliderWrapperText />
      </header>
      <div class="grid place-items-center py-28 overflow-hidden">
        <div class="w-2/4 relative z-20">
          <Sublogo />
        </div>
        <div class="absolute w-[28%]">
          <Corazon />
        </div>
      </div>
      <footer class="h-32 bg-yellow-ligth overflow-hidden whitespace-nowrap flex items-center">
        <SliderWrapperImages />
      </footer>
    </section>
  </main>
</Layout>
