---
import Layout from "../layouts/Layout.astro";
import ImageProfile from "../components/ImageProfile.astro";
import FondoSlider from "../assets/FondoSlider.astro";
import SliderImages from "../components/SliderImages.astro";
import SlideImagesContent from "../components/SliderImagesContent.astro";
import SectionArticle from "../components/SectionArticle.astro";
import Paragraph from "../components/Paragraph.astro";
import SliderWrapperText from "../components/SliderWrapperText.astro";
import GritoFestivalIconContainer from "../components/GritoFestivalIconContainer.astro";
import CorazonIconContainer from "../components/CorazonIconContainer.astro";
import SliderImagesButton from "../components/SliderImagesButton.astro";
import Corazon from "../icons/Corazon.astro";
import Sublogo from "../icons/Sublogo.astro";
import ImagI2 from "../components/ImagI2.astro"
---

<Layout title="Nuestro Festival">
	
  <SliderWrapperText />

	<section class="py-64 bg-gradient-to-b from-teal-50 to-skyblue-semi ">
<div class="grid justify-items-center items-center my-8">
	<div class="absolute h-auto flex justify-center z-10">
		<Corazon />
	  </div>
	  <div class="pt-20 w-full flex justify-center  ">
		<Sublogo />
		
	  </div>
			<div
		  class="absolute inset-x-0 bottom-0 h-10 bg-yellow-ligth">
		</div>

</div>

	  </section>
  
   
 

</Layout>
