---
import Layout from "../layouts/Layout.astro";
import ImageProfile from "../components/ImageProfile.astro";
import FondoSlider from "../assets/fondos/FondoSlider.astro";
import SliderImages from "../components/SliderImages.astro";
import SliderImagesContent from "../components/SliderImagesContent.astro";
import SectionArticle from "../components/SectionArticle.astro";
import Paragraph from "../components/Paragraph.astro";
import SliderWrapperText from "../components/SliderWrapperText.astro";
import GritoFestivalIconContainer from "../components/GritoFestivalIconContainer.astro";
import CorazonIconContainer from "../components/CorazonIconContainer.astro";
import SliderImagesButton from "../components/SliderImagesButton.astro";
import FondoGritoElectroText from "../assets/fondos/FondoGritoElectroText.astro";
import FondoGritoElectro from "../assets/fondos/FondoGritoElectro.astro";
import SectionColorsSliderGrito from "../components/SectionColorsSliderGrito.astro";
import FondoGritoUrbanoText from "../assets/fondos/FondoGritoUrbanoText.astro";
import FondoGritoUrbano from "../assets/fondos/FondoGritoUrbano.astro";
import SliderHeaderTitle from "../components/SliderHeaderTitle.astro";
import SliderGritos from "../components/SliderGritos.astro";
import SliderLeftButton from "../components/SliderLeftButton.astro";
import SliderRightButton from "../components/SliderRightButton.astro";
---

<Layout title="Nuestro Festival | Grito Rock | Grito Festival">
  <SliderWrapperText />

  <SectionArticle>
    <GritoFestivalIconContainer />
    <div class="w-11/12 text-blue-950 relative z-30" slot="article">
      <Paragraph>
        GRITO LATIDXS, INMERSIÓN MUSICAL DONDE CADA LATIDO CUENTA, ES UNA
        PROPUESTA DE GRITO FESTIVAL Y LA CARRERA DE MÚSICA DE LA UNIVERSIDAD
        MAYOR DE SAN SIMÓN, UN PROYECTO DE ARTE, MÚSICA Y CULTURA PARA LA
        TRANSFORMACIÓN SOCIAL.
      </Paragraph>
      <Paragraph>
        ES UNA TERAPIA MUSICAL QUE HACE USO DE LA MÚSICA CLÁSICA, COMBINADA CON
        SONORIDADES Y MELODÍAS CURATIVAS DESARROLLADAS DURANTE UNA INMERSIÓN
        MUSICAL, A TRAVÉS DE LAS CUALES SE INDUCE A LOS PACIENTES DE LOS CENTROS
        MÉDICOS A UN RELAJACIÓN PROFUNDA Y CONEXIÓN HOLÍSTICA.
      </Paragraph>
      <Paragraph>
        EL PROYECTO PROMETE PROMETE SER UNA EXPERIENCIA ÚNICA, CON LA FINALIDAD
        DE GENERAR UN PROCESO DE SANACIÓN, TRANQUILIZANTE Y SOSIEGO, DESDE LA
        PRODUCCIÓN ESTAMOS CONVENCIDOS/AS DE QUE EL ARTE Y LA MÚSICA A TRAVÉS DE
        SU SENSIBIIDAD CURAN LAS PERSONAS.
      </Paragraph>
    </div>

    <CorazonIconContainer slot="article" />
  </SectionArticle>

  <section
    class="w-full h-[43vw] bg-gradient-to-b from-skyblue-semi to-slate-50 flex items-center justify-center overflow-hidden"
  >
    <div class="absolute max-xl:w-5/6 w-2/4">
      <SliderImages>
        <SliderImagesContent
          urlImage={import.meta.env.BASE_URL + "/img/Recurso1.png"}
          slot="images"
        />
        <SliderImagesContent
          urlImage={import.meta.env.BASE_URL + "/img/Recurso2.png"}
          slot="images"
        />
        <SliderImagesButton slot="button" />
        <SliderImagesButton slot="button" />
      </SliderImages>
    </div>

    <div class="w-full object-cover">
      <FondoSlider />
    </div>
  </section>

  <SectionArticle>
    <div class="text-center w-full">
      <h3 class="text-4xl max-md:text-3xl text-red-ligth font-bold">
        AGRADECIMIENTOS
      </h3>
      <p class="text-blue-dark md:text-xl text-sm text-pretty">
        Por hacer posible esta primera <br /> versión de Grito Latidxs
      </p>
    </div>

    <div
      class="flex flex-wrap justify-around mt-7 z-20 w-full gap-8"
      slot="article"
    >
      <ImageProfile
        name="Esther Rodrigez"
        urlImage={import.meta.env.BASE_URL + "/img/persona1.webp"}
      />
      <ImageProfile
        name="Josue Urioste Mancilla"
        urlImage={import.meta.env.BASE_URL + "/img/persona2.webp"}
      />
      <ImageProfile
        name="Aneliz Rodrigez"
        urlImage={import.meta.env.BASE_URL + "/img/persona3.webp"}
      />
    </div>
  </SectionArticle>

  <!-- GRITO ELECTRO -->
  <!-- Grito Electro -->
  <SliderHeaderTitle title="Grito Electro">
    <FondoGritoElectroText slot="bgText" />
    <SliderGritos slot="slider">
      <SliderImagesContent
        urlImage={import.meta.env.BASE_URL + "/img/gritoElectroImg1.webp"}
      />
      <SliderImagesContent
        urlImage={import.meta.env.BASE_URL + "/img/gritoElectroImg1.webp"}
      />
      <SliderImagesContent
        urlImage={import.meta.env.BASE_URL + "/img/gritoElectroImg1.webp"}
      />
      <SliderImagesButton slot="button" />
      <SliderImagesButton slot="button" />
      <SliderImagesButton slot="button" />
      <SliderLeftButton />
      <SliderRightButton />
      <FondoGritoElectro slot="bgSlider" />
    </SliderGritos>
  </SliderHeaderTitle>

  <!-- Grito Urbano -->
  <SliderHeaderTitle title="Grito Urbano">
    <FondoGritoUrbanoText slot="bgText" />
    <SliderGritos slot="slider">
      <SliderImagesContent
        urlImage={import.meta.env.BASE_URL + "/img/gritoElectroImg1.webp"}
      />
      <SliderImagesContent
        urlImage={import.meta.env.BASE_URL + "/img/gritoElectroImg1.webp"}
      />
      <SliderImagesContent
        urlImage={import.meta.env.BASE_URL + "/img/gritoElectroImg1.webp"}
      />
      <SliderImagesButton slot="button" />
      <SliderImagesButton slot="button" />
      <SliderImagesButton slot="button" />
      <SliderLeftButton />
      <SliderRightButton />
      <FondoGritoUrbano slot="bgSlider" />
    </SliderGritos>
  </SliderHeaderTitle>
</Layout>
