---
import IconFooter from "../icons/IconFooter.astro";
import World from "../icons/World.astro";
import Mail from "../icons/Mail.astro";
---

<footer class="bg-black">
  <div class="py-5 sm:px-16 px-4 flex justify-around flex-wrap">
    <IconFooter />
    <div class="[&_h2]:indent-8 [&_span]:flex [&_span]:items-center [&_span]:gap-2 leading-loose font-bold">
      <h2>@gritorock</h2>
      <h2>@gritorock</h2>
      <span><World /> www.gritofestival.com</span>
      <span><Mail /> gritorock.bolivia@gmail.com</span>
    </div>
  </div>
</footer>