---
import Principallogo from "../icons/Principallogo.astro";
---

<!-- <a href={import.meta.env.BASE_URL}>
  <Principallogo />
</a> -->
<a href={import.meta.env.BASE_URL} class="w-[150px]">
  <img
    src={import.meta.env.BASE_URL + "/img/logorock.png"}
    alt="logo"
    title="logo"
  />
</a>