---

---

<section class="py-16 bg-gradient-to-b from-teal-50 to-skyblue-semi grid place-items-center">
  <slot />
  <article class="grid justify-items-center items-center my-8">
    <slot name="article" />
  </article>
</section>
