---

---

<section class="pt-16 pb-16 bg-gradient-to-b from-teal-50 to-skyblue-semi ">
  <slot />
  <article class="grid justify-items-center items-center my-8">
    <slot name="article" />
  </article>
</section>
