---
import SlideContent from "./SliderInfiniteContent.astro";
import SliderInfinite from "./SliderInfinite.astro";


---

<div
  class="h-8 bg-yellow-ligth overflow-hidden whitespace-nowrap flex items-center"
>
  <SliderInfinite>
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
  </SliderInfinite>
  <SliderInfinite>
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
    <SlideContent textContent="/// GRITO LATIDXS - INMERSIÓN MUSICAL" />
  </SliderInfinite>
</div>
