---

---

<div
  class="h-8 bg-yellow-ligth overflow-hidden whitespace-nowrap flex items-center [&>div>h2]:mx-1 [&>div>h2]:text-blue-dark [&>div]:flex"
>
  <div class="animate-slide-infinite">
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
  </div>
  <div class="animate-slide-infinite">
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
    <h2>/// GRITO LATIDXS - INMERSIÓN MUSICAL</h2>
  </div>
</div>
