---

---

<div class="relative" data-carousel="slide">
  <div
    class="container relative h-[30vw] overflow-hidden rounded-lg max-[639px]:h-[60vw] max-sm:h-[45vw] max-md:h-[40vw] my-10"
  >
    <slot name="images" />
  </div>

  <div
    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse items-center"
  >
    <slot name="button" />
  </div>
</div>

<script src="/src/scripts/slider.js"></script>
