---

---

<div class="relative" data-carousel="slide">
  <div class="relative [1800px]:h-[60rem] h-[37rem] overflow-hidden rounded-lg max-sm:h-40 sm:h-56 ">
    <slot name="images" />
  </div>

  <div
    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse items-center"
  >
    <slot name="button" />
  </div>
</div>

<script src="/src/scripts/slider.js"></script>
