---

---

<div
  class="w-full bg-yellow-ligth overflow-hidden whitespace-nowrap flex items-center [&>div]:flex [&>div>img]:h-32 [&>div>img]:mx-3"
>
  <div class="w-full inline-flex flex-nowrap">
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-slide-infinite [&_img]:h-32"
    >
      <li>
        <img src={import.meta.env.BASE_URL+"/img/emvmusiclogo.webp"} alt="img1" />
      </li>
      <li>
        <img src={import.meta.env.BASE_URL+"/img/gritofestivalblack.webp"} alt="img1" />
      </li>
      <li>
        <img src={import.meta.env.BASE_URL+"/img/gritorockblackwebp.webp"} alt="img1" />
      </li>
      <li>
        <img src={import.meta.env.BASE_URL+"/img/fundaciongaiapachalogo.webp"} alt="img1" />
      </li>
      <li>
        <img src={import.meta.env.BASE_URL+"/img/umsslogo.webp"} alt="img1" />
      </li>
      <li>
        <img src={import.meta.env.BASE_URL+"/img/fondoInicio.webp"} alt="img1" />
      </li>
    </ul>
  </div>
</div>
