---
interface Props {
  urlImage: string;
}
const { urlImage } = Astro.props;
---


<div class="hidden duration-700 ease-in-out w-full" data-carousel-item>

<div class="hidden duration-700 ease-in-out [1800px]:h-[60rem] h-[37rem] max-sm:h-40 sm:h-56" data-carousel-item>

  <img
    src={urlImage}
    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h-full object-cover"
    alt="Grito Rock"
  />
</div>
