<header>
  <figure>
    <img src="../../public/logorock.png" alt="logo" />
  </figure>
  <nav>
    <ul>
      <li><a href="#">GRITO FESTIVAL</a></li>
      <li><a href="#">NUESTRO FESTIVAL</a></li>
      <li><a href="">HISTÓRICO</a></li>
      <li><a href="#">CHENK'O FERIA</a></li>
      <li><a href="#">BOLETERIAS</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  figure {
    width: 180px;
  }
  figure img {
    max-width: 100%;
    display: block;
  }
  nav ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
  }
  nav a {
    list-style: none;
  }
</style>
